extends ../layouts/master.pug

block title
  title SMIT | 404

block basicSeo
  meta(content="404 страница" name="description")
  meta(content="404, страница" name="keywords")

block manifestBrowserconfigFiles
  link(href="./manifest.json" rel="manifest" crossorigin)
  meta(content="./browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="error")
        .page-container
          .page-wrapper
            include ../components/error.pug
          include ../components/footer.pug
          include ../components/service-popup.pug