extends ../layouts/master.pug

block title
  title SMIT | Контакты

block basicSeo
  meta(content="Контакты" name="description")
  meta(content="Контакты" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="contacts")
        .page-container
          .page-wrapper
            include ../mixins/breadcrumbs.pug
            +breadcrumbs(
              [
                {
                  href: '',
                  title: 'Контакты'
                }
              ]
            )
            include ../components/contacts.pug
            include ../components/works.pug
            include ../components/clients.pug
          include ../components/footer.pug