extends ../layouts/master.pug

block title
  title SMIT | Страница отдельной услуги

block basicSeo
  meta(content="Страница отдельной услуги" name="description")
  meta(content="Страница отдельной услуги" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .page-container
      .page-wrapper
        include ../mixins/breadcrumbs.pug
        +breadcrumbs(
          [
            {
              href: '/services',
              title: 'Услуги'
            },
            {
              href: '',
              title: 'Порошковая покраска изделий'
            }
          ]
        )
        include ../mixins/advantage.pug
        section.advantages.section__gapper
          .wrapper
            .advantages__items
              +advantage('5 000', 'цветов и оттенков', 'палитра <br> по RAL', '', '')
              +advantage('14', 'метров ', 'длина <br> камеры', '', '')
              +advantage('1200', 'кв.м. в сутки', 'мощность <br> участка', '', '')
              +advantage('100', '', 'еще одно <br> важное преимущество', '', '')
        include ../mixins/services.pug
        +services('Закажите также')
        include ../components/works.pug
        include ../components/clients.pug
      include ../components/footer.pug