extends ../layouts/master.pug

block title
  title SMIT | Услуги

block basicSeo
  meta(content="Услуги" name="description")
  meta(content="Услуги" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="services")
        .page-container
          .page-wrapper
            include ../mixins/breadcrumbs.pug
            +breadcrumbs(
              [
                {
                  href: '',
                  title: 'Услуги'
                }
              ],
              true
            )
            include ../components/service-items.pug
            include ../components/calculator.pug
            include ../components/works.pug
            include ../components/clients.pug
          include ../components/footer.pug