extends ../layouts/master.pug

block title
  title SMIT | Страница отдельной услуги

block basicSeo
  meta(content="Страница отдельной услуги" name="description")
  meta(content="Страница отдельной услуги" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="service")
        .page-container
          .page-wrapper
            include ../mixins/breadcrumbs.pug
            +breadcrumbs([ { href: '/services', title: 'Услуги' }, { href: '', title: 'Порошковая покраска изделий' } ], false)
            include ../components/service-hero.pug
            include ../mixins/advantages.pug
            +advantages('Преимущества заказа у нас', 'service')
            include ../components/opportunities.pug
            //- include ../components/tech-cycle.pug
            include ../components/tech-cycle-light.pug
            include ../components/calculator.pug
            include ../mixins/services.pug
            +services('Закажите также')
            include ../components/works.pug
            include ../components/clients.pug
          include ../components/footer.pug
          include ../components/service-popup.pug