mixin breadcrumbs(data, isPrice)
  .breadcrumbs(class=""+isPrice)
    .wrapper
      ul.breadcrumbs__list
        li 
          a(href="/") Главная
        for link in data
          if link.href == ''
            span /
            li
              p= link.title
          else 
            span /
            li
              a(href=""+link.href)= link.title
        if isPrice
          a(href="#" download).breadcrumbs__button 
            svg(width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M6 20.5C5.45 20.5 4.979 20.304 4.587 19.912C4.195 19.52 3.99934 19.0493 4 18.5V15.5H6V18.5H18V15.5H20V18.5C20 19.05 19.804 19.521 19.412 19.913C19.02 20.305 18.5493 20.5007 18 20.5H6ZM12 16.5L7 11.5L8.4 10.05L11 12.65V4.5H13V12.65L15.6 10.05L17 11.5L12 16.5Z" fill="#00738E")
            span скачать прайс