mixin case(title, slides)
  .case(class="")
    .case__content
      h2.case__title= title
      p.case__text
        img(src="/assets/images/icons/location-green.svg" alt="location-green")
        span Москва, Холодильный пер., д.4
    .case__images
      .case__slider
        .swiper.slider-one
          .swiper-wrapper.gallery
            each slide in slides
              .swiper-slide(data-src="" + slide.src)
                img(src="" + slide.src alt="" + slide.alt)
          .swiper-pagination
      .case__map.container-fluid.map
        img.map-image(
          src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor:511fa986a5f524feb0b50d1bf8acc9343f1e434b636903191943565134a7e371&amp;amp;width=267&amp;amp;height=214&amp;amp;lang=ru_RU"
        )
        iframe.ymap_lazy(
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac162e232c962a02579d92765131999fc526f98bdd84a3e64a4e4e5690b0f5e0f&amp;amp;source=constructor"
        )