mixin case(title, slides, isHidden)
  .case(class="" + isHidden)
    .case__content
      h2.case__title= title
      p.case__text
        img(src="/assets/images/icons/location-green.svg" alt="location-green")
        span Москва, Холодильный пер., д.4
    .case__images
      .case__slider
        .swiper.slider-one
          #gallery.swiper-wrapper.gallery
            each slide in slides
              .swiper-slide(data-src="" + slide.src)
                img(src="" + slide.src alt="" + slide.alt)
          .swiper-pagination
      .case__map
        iframe src="https://yandex.ru/map-widget/v1/?um=constructor:511fa986a5f524feb0b50d1bf8acc9343f1e434b636903191943565134a7e371&amp;source=constructor"