mixin manager(src, alt, title, text, role)
  .swiper-slide 
    .manager
      .manager__image
        img(src=""+src, alt=""+alt)
      h3.manager__surname= title
      p.manager__name= text 
      span.manager__role= role