mixin tech(title, src, alt, text)
  .tech-cycle__item
    .tech-cycle__item__header
      .tech-cycle__item__icon
        img(src="/assets/images/icons/check-green.svg", alt="check-green")
      h3= title
      .tech-cycle__item__close
        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M4 9L12 17L20 9" stroke="#929292" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    .tech-cycle__item__body
      .tech-cycle__item__body__inner
        .tech-cycle__item__image 
          img(src=""+src, alt=""+alt)
        .tech-cycle__item__text !{text}