mixin work(src, alt, title, isHidden)
  .work(class="" + isHidden)
    .work__image
      img(src="" + src alt="" + alt)
    h3.work__title= title
    .gallery#gallery
      div(data-src="/assets/images/work.png")
        img(src="/assets/images/work.png" alt="work")
      div(data-src="/assets/images/work.png")
        img(src="/assets/images/work.png" alt="work")
      div(data-src="/assets/images/work.png")
        img(src="/assets/images/work.png" alt="work")
      div(data-src="/assets/images/work.png")
        img(src="/assets/images/work.png" alt="work")