.equip {
  &__content {
    h3 {
      @apply mb-6 text-2xl font-bold uppercase leading-8 md:mb-7 md:text-[32px] md:leading-10 lg:mb-9
    }
    p {
      span {
        @apply font-medium
      }
      @apply text-xl font-extralight tracking-[0.02em]
    }
    @apply col-span-2 lg:col-span-1
  }
  .swiper {
    &-slide {
      img {
        @apply h-full w-full object-cover
      }
      @apply max-h-[227px] min-h-[227px] md:max-h-[469px] md:min-h-[469px] lg:max-h-[410px] lg:min-h-[410px]
    }
    &.swiper-horizontal > .swiper-pagination-bullets {
      @apply bottom-[17px] flex md:bottom-9 md:left-auto md:right-[43px] md:w-auto
    }
    @apply w-full pb-0
  }
  &__slider {
    @apply col-span-1
  }
  &__facts {
    counter-reset: equipment;
    h4 {
      @apply col-span-2 text-2xl font-bold leading-10 lg:col-span-3
    }
    @apply col-span-2 grid grid-cols-1 gap-y-6 md:grid-cols-[327px_327px] md:gap-x-[35px] md:gap-y-[31px] lg:grid-cols-[327px_327px_327px] lg:gap-x-[103px] lg:gap-y-9
  }
  &:first-child {
    @apply pt-0
  }
  &:last-child {
    @apply border-b-0 pb-0
  }
  &__fact {
    h5 {
      @apply font-medium leading-[22px]
    }
    @apply col-span-2 flex items-center gap-x-6 md:col-auto
  }
  &__icon {
    &:before {
      counter-increment: equipment;
      content: "0" counter(equipment);
      @apply absolute text-xl font-bold leading-10 text-green-400
    }
    @apply relative flex min-h-[50px] min-w-[50px] items-center justify-center rounded-md bg-green-200
  }
  &.no-padding {
    @apply pb-0
  }
  &.no-border {
    @apply border-b-0
  }
  &-hidden {
    @apply hidden
  }
  @apply grid grid-cols-1 gap-y-6 border-b border-gray-300 py-9 md:gap-y-[46px] md:py-20 lg:grid-cols-2 lg:gap-x-20 lg:gap-y-[42px]
}