section.about-hero.section__gapper 
  .wrapper 
    .about-hero__wrapper 
      h1.section__title О компании
      .about-hero__content 
        img(src="/assets/images/about-hero.png", alt="about-hero")
        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>
        p <a href="#">Amet minim mollit</a> <span>non deserunt ullamco</span> est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span> Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span> Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>
        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>