section.about.section__gapper
  .wrapper
    .about__wrapper
      h2.section__title О компании
      .about__items
        .about__content 
          p.about__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>
          p.about__text <span>Amet minim mollit non deserunt ullamco</span> est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          button(type="button").about__button
            span Подробнее
            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M14 18L12.6 16.55L16.15 13H4V11H16.15L12.6 7.45L14 6L20 12L14 18Z', fill='white')
        .about__image
          img(src="/assets/images/about.png", alt="about")