include ../mixins/advantage.pug
section.advantages.section-gapper
  .wrapper
    .advantages__wrapper
      +advantage('55 000', 'кв.м. в месяц', 'мощность производства <br> навесных фасадных систем', '/assets/images/icons/grid-green.svg', 'grid-green')
      +advantage('3 700', 'кв.м. ', 'производственная <br> площадь', '/assets/images/icons/zoom-out-green.svg', 'zoom-out-green')
      +advantage('175', '', 'завершенных <br> проектов', '/assets/images/icons/square-check-green.svg', 'square-check-green')
      +advantage('100+', '', 'специалистов <br> в штате компании', '/assets/images/icons/users-green.svg', 'users-green')