include ../mixins/case.pug
section.cases.section__gapper
  .wrapper
    .cases__wrapper
      +case('Жилой комплекс “Play”', [ { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' } ], '')
      +case('Жилой комплекс “Play”', [ { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' } ], '')
      +case('Жилой комплекс “Play”', [ { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' } ], '')
      +case('Жилой комплекс “Play”', [ { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' }, { src: '/assets/images/case.png', alt: 'case' } ], 'case-hidden')
      button.cases__button(type="button")
        span Показать ещё