include ../mixins/client.pug
section.clients.section__gapper
  .wrapper
    .clients__wrapper
      h2.section__title Наши клиенты
      p.clients__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      .clients__items
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
      button.clients__more(type="button")
        span Показать еще