include ../mixins/client.pug
section.clients.section__gapper
  .clients__heading.section-gray
    .wrapper
      h2.section__title.section__title-center Наши клиенты
      p.clients__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
  .wrapper
    .clients__wrapper
      .clients__items
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', '')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
        +client('/assets/images/client.svg', 'client', 'client-hidden')
      button.clients__more(type="button")
        span Показать еще