include ../mixins/doc.pug
section.docs.section__gapper
  .wrapper
    .docs__wrapper
      h1.section__heading.reveal Техническая документация
      p.docs__text.reveal Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <span>Velit officia consequat duis enim velit mollit</span>. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .docs__items 
        +doc('/assets/images/doc.png', 'doc', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <span>Velit officia consequat duis</span>.', '')
        +doc('/assets/images/doc.png', 'doc', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <span>Velit officia consequat duis</span>.', '')
        +doc('/assets/images/doc.png', 'doc', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <span>Velit officia consequat duis</span>.', '')
        +doc('/assets/images/doc.png', 'doc', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <span>Velit officia consequat duis</span>.', 'doc-hidden')
        +doc('/assets/images/doc.png', 'doc', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <span>Velit officia consequat duis</span>.', 'doc-hidden')
        +doc('/assets/images/doc.png', 'doc', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <span>Velit officia consequat duis</span>.', 'doc-hidden')
      button(type="button").docs__more.reveal 
        span Показать еще