.error-popup 
  .error-popup__title 
    img(src="/assets/images/icons/error-circle-red.svg", alt="error-circle-red")
    h3 Ошибка отправки
  .error-popup__text Пожалуйста, попробуйте еще раз
  button(type="button").error-popup__button OK
