.error-page 
  .wrapper 
    .error-page__wrapper 
      h1.error-page__title 404 ошибка
      p.error-page__desc Страница не найдена или ещё не создана.
      a(href="/").error-page__link Вернуться на главную