footer.footer
  .wrapper
    .footer__wrapper
      a(href="/").footer__logo
        img(src="/assets/images/logo-green.svg", alt="logo-green")
      .footer__grid 
        .footer__col
          a(href="/about/").footer__link
            span О компании
          a(href="/services/").footer__link
            span Услуги
          a(href="/equipment/").footer__link 
            span Оборудование
        .footer__col
          a(href="/works/").footer__link 
            span Наши работы
          a(href="/clients/").footer__link 
            span Клиентам
          a(href="/contacts/").footer__link 
            span Контакты
        .footer__col.footer__col-fill
          a(href="tel:+7 (495) 023-01-41").footer__link.footer__phone
            img(src="/assets/images/icons/phone-green.svg", alt="phone-green")
            span +7 (495) 023-01-41
          a(href="https://yandex.ru/maps/-/CCUcU2bFkC" target="_blank").footer__link.footer__location
            img(src="/assets/images/icons/location-green.svg", alt="location-green")
            span г. Москва, Каширское шоссе, д.3, к.2, стр.2
        .footer__col.footer__col-fill
          a(href="mailto:info@smit-metal.ru").footer__link.footer__mail
            img(src="/assets/images/icons/mail-green.svg", alt="mail-green")
            span info@smit-metal.ru
          a(href="https://yandex.ru/maps/-/CCUrMUsXwB" target="_blank").footer__link.footer__location
            img(src="/assets/images/icons/location-green.svg", alt="location-green")
            span Московская область, г. Климовск Бережковский пр-д, д 4
      .footer__grid.footer__grid-second
        .footer__col.footer__col-fill
          .footer__copy
            span © ООО «СМИТ» · 2019-<span class="currentYear">2023</span>
        .footer__col 
        .footer__col 
        .footer__col.footer__col-fill
          .footer__social
            a(href="#" target="_blank")
              img(src="/assets/images/icons/whatsapp-green.svg", alt="whatsapp-green") 
            a(href="#" target="_blank")
              img(src="/assets/images/icons/vk-green.svg", alt="vk-green") 
            a(href="#" target="_blank")
              img(src="/assets/images/icons/telegram-green.svg", alt="telegram-green") 
            a(href="#" target="_blank")
              img(src="/assets/images/icons/instagram-green.svg", alt="instagram-green") 