include ../mixins/manager.pug
section.management.section__gapper
  .wrapper
    .management__wrapper
      h2.section__title Руководство
      p.management__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>
      .management__slider
        .swiper.slider-four-mobonly
          .swiper-wrapper
            +manager('/assets/images/management.png', 'management', 'Иванов', 'Александр Михайлович', 'Генеральный директор')
            +manager('/assets/images/management.png', 'management', 'Иванов', 'Александр Михайлович', 'Генеральный директор')
            +manager('/assets/images/management.png', 'management', 'Иванов', 'Александр Михайлович', 'Генеральный директор')
            +manager('/assets/images/management.png', 'management', 'Иванов', 'Александр Михайлович', 'Генеральный директор')
          .swiper-pagination