include ../mixins/opportunity.pug
section.opportunities.section__gapper
  .wrapper
    .opportunities__wrapper
      .opportunities__title
        h2.section__title Наши возможности
      .opportunities__items
        +opportunity(
          '/assets/images/icons/opportunities1.svg',
          'opportunities1', 
          'В арсенале нашей компании имеется мощная, современная покрасочная камера. Габариты нашей камеры, позводяют окрашивать длинные металлоизделия за один проход. Для нанесения краски используется оборудование <span>Dino Power Airless.</span>'
        )
        +opportunity(
          '/assets/images/icons/opportunities2.svg',
          'opportunities2', 
          '<h3>Окрашиваем:</h3> алюминий, медь, оцинкованную сталь, нержавеющую сталь, чугун, черный металл <h3>Характеристики:</h3> вес – до 520 кг, максимальные размеры изделий (ДхШхВ) – 13 х 1,6 х 2,3 м.'
        )
        +opportunity(
          '/assets/images/icons/opportunities3.svg',
          'opportunities3', 
          'Используем накопленнный опыт и <span>систематический контроль всех технологических этапов</span> для достижения высокого качества окрашиваемых поверхностей.'
        )