include ../mixins/opportunity.pug
section.opportunities.section__gapper
  .wrapper
    .opportunities__wrapper
      .opportunities__title
        h2.section__title Наши возможности
      .opportunities__items
        +opportunity('В арсенале нашей компании имеется мощная, современная покрасочная камера. Габариты нашей камеры, позводяют окрашивать длинные металлоизделия за один проход. Для нанесения краски используется оборудование <span>Dino Power Airless.</span>', '/assets/images/opportunity-icon-1.svg')
        +opportunity('<h3>Окрашиваем:</h3> алюминий, медь, оцинкованную сталь, нержавеющую сталь, чугун, черный металл <h3>Характеристики:</h3> вес – до 520 кг, максимальные размеры изделий (ДхШхВ) – 13 х 1,6 х 2,3 м.', '/assets/images/opportunity-icon-2.svg')
        +opportunity('Используем накопленнный опыт и <span>систематический контроль всех технологических этапов</span> для достижения высокого качества окрашиваемых поверхностей.', '/assets/images/opportunity-icon-3.svg')