include ../mixins/product.pug
section.production.section__gapper.section-gray
  .wrapper
    .production__wrapper
      h2.section__title Производство
      .production__items
        +product('Продольно-поперечная резка', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.', '/assets/images/product.png', 'product', '')
        +product('Продольно-поперечная резка', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.', '/assets/images/product.png', 'product', '')
        +product('Продольно-поперечная резка', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.', '/assets/images/product.png', 'product', '')
        +product('Продольно-поперечная резка', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.', '/assets/images/product.png', 'product', 'product-hidden')
      button.production__more(type="button")
        span Показать еще