section.service-hero.section__gapper
  .wrapper 
    .service-hero__wrapper 
      .service-hero__content 
        h1.section__title Порошковая покраска изделий
        p Собственная <span>камера длинной 14 метров, любые цвета RAL.</span> Полимерные краски, используемые при порошковой покраске запекаются при температуре от 150° до 250°, после чего <span>образуют качественное декоративное покрытие</span> с минимальным количеством пор и высокими антикоррозийными свойствами.
      .swiper.service-hero__slider.slider-one
        .swiper-wrapper 
          .swiper-slide 
            img(src="/assets/images/service-hero.png", alt="service-hero")
          .swiper-slide 
            img(src="/assets/images/service-hero.png", alt="service-hero")
          .swiper-slide 
            img(src="/assets/images/service-hero.png", alt="service-hero")
          .swiper-slide 
            img(src="/assets/images/service-hero.png", alt="service-hero")
        .swiper-pagination
      .service-hero__footer 
        .service-hero__price 
          span от
          span.service-hero__price__inner 120
            svg(width="22" height="31" viewBox="0 0 22 31" fill="none" xmlns="http://www.w3.org/2000/svg")
                  g(clip-path="url(#clip0_494_1202)")
                  path(d="M-153.978 30H-169.879V24.5635H-164.962V6.8252H-168.951L-168.469 1.35156H-158.579V24.5635H-153.978V30ZM-126.164 24.5264H-129.541V30H-135.59V24.5264H-149.45V20.3145L-136.759 0.999023H-129.541V19.5166H-126.164V24.5264ZM-135.59 19.5166V8.14258L-142.696 19.5166H-135.59ZM-102.396 20.7598C-102.396 23.778 -103.459 26.2396 -105.587 28.1445C-107.714 30.0371 -110.442 30.9834 -113.77 30.9834C-115.687 30.9834 -117.505 30.7236 -119.225 30.2041C-120.82 29.7217 -122.026 29.1217 -122.843 28.4043L-121.822 22.3184C-121.105 23.11 -120.078 23.8151 -118.742 24.4336C-117.245 25.1263 -115.792 25.4727 -114.382 25.4727C-112.848 25.4727 -111.568 24.9964 -110.541 24.0439C-109.502 23.0915 -108.982 21.8978 -108.982 20.4629C-108.982 18.9167 -109.589 17.6364 -110.801 16.6221C-112.013 15.6077 -113.535 15.1006 -115.365 15.1006C-117.567 15.1006 -119.429 15.6201 -120.95 16.6592L-121.062 16.4736L-118.779 1.35156H-104.344V6.8623H-114.178L-114.79 10.9258C-113.838 10.7279 -112.823 10.6289 -111.747 10.6289C-109.1 10.6289 -106.88 11.5999 -105.086 13.542C-103.292 15.484 -102.396 17.89 -102.396 20.7598ZM-63.561 15.6758C-63.561 20.1908 -64.631 23.8708 -66.771 26.7158C-68.898 29.5609 -71.6875 30.9834 -75.1387 30.9834C-78.5898 30.9834 -81.3854 29.5609 -83.5254 26.7158C-85.6654 23.8708 -86.7354 20.1908 -86.7354 15.6758C-86.7354 11.1732 -85.6592 7.49935 -83.5068 4.6543C-81.3545 1.79688 -78.5527 0.368164 -75.1016 0.368164C-71.6628 0.368164 -68.88 1.79688 -66.752 4.6543C-64.624 7.49935 -63.561 11.1732 -63.561 15.6758ZM-69.943 15.6758C-69.943 12.8307 -70.4072 10.5176 -71.335 8.73633C-72.2998 6.93034 -73.5677 6.02734 -75.1387 6.02734C-76.7096 6.02734 -77.9775 6.93034 -78.9424 8.73633C-79.9072 10.5299 -80.3896 12.8431 -80.3896 15.6758C-80.3896 18.5208 -79.9072 20.8402 -78.9424 22.6338C-77.9652 24.4274 -76.6849 25.3242 -75.1016 25.3242C-73.543 25.3242 -72.2874 24.4212 -71.335 22.6152C-70.4072 20.8464 -69.943 18.5332 -69.943 15.6758ZM-38.586 15.6758C-38.586 20.1908 -39.656 23.8708 -41.796 26.7158C-43.924 29.5609 -46.713 30.9834 -50.164 30.9834C-53.615 30.9834 -56.411 29.5609 -58.551 26.7158C-60.691 23.8708 -61.761 20.1908 -61.761 15.6758C-61.761 11.1732 -60.685 7.49935 -58.532 4.6543C-56.38 1.79688 -53.578 0.368164 -50.127 0.368164C-46.688 0.368164 -43.905 1.79688 -41.777 4.6543C-39.65 7.49935 -38.586 11.1732 -38.586 15.6758ZM-44.969 15.6758C-44.969 12.8307 -45.433 10.5176 -46.36 8.73633C-47.325 6.93034 -48.593 6.02734 -50.164 6.02734C-51.735 6.02734 -53.003 6.93034 -53.968 8.73633C-54.933 10.5299 -55.415 12.8431 -55.415 15.6758C-55.415 18.5208 -54.933 20.8402 -53.968 22.6338C-52.991 24.4274 -51.71 25.3242 -50.127 25.3242C-48.568 25.3242 -47.313 24.4212 -46.36 22.6152C-45.433 20.8464 -44.969 18.5332 -44.969 15.6758ZM-13.611 15.6758C-13.611 20.1908 -14.681 23.8708 -16.821 26.7158C-18.949 29.5609 -21.738 30.9834 -25.189 30.9834C-28.641 30.9834 -31.436 29.5609 -33.576 26.7158C-35.716 23.8708 -36.786 20.1908 -36.786 15.6758C-36.786 11.1732 -35.71 7.49935 -33.558 4.6543C-31.405 1.79688 -28.604 0.368164 -25.152 0.368164C-21.714 0.368164 -18.93 1.79688 -16.803 4.6543C-14.675 7.49935 -13.611 11.1732 -13.611 15.6758ZM-19.994 15.6758C-19.994 12.8307 -20.458 10.5176 -21.386 8.73633C-22.351 6.93034 -23.618 6.02734 -25.189 6.02734C-26.76 6.02734 -28.028 6.93034 -28.993 8.73633C-29.958 10.5299 -30.44 12.8431 -30.44 15.6758C-30.44 18.5208 -29.958 20.8402 -28.993 22.6338C-28.016 24.4274 -26.736 25.3242 -25.152 25.3242C-23.594 25.3242 -22.338 24.4212 -21.386 22.6152C-20.458 20.8464 -19.994 18.5332 -19.994 15.6758ZM3.205 30V2.868H11.869C15.365 2.868 17.911 3.57733 19.507 4.996C21.128 6.41466 21.939 8.36533 21.939 10.848C21.939 12.3173 21.61 13.698 20.951 14.99C20.292 16.282 19.19 17.3207 17.645 18.106C16.125 18.8913 14.048 19.284 11.413 19.284H8.94299V30H3.205ZM0.164993 25.934V22.248H14.795V25.934H0.164993ZM0.164993 19.284V14.572H11.299V19.284H0.164993ZM10.843 14.572C11.932 14.572 12.87 14.458 13.655 14.23C14.44 13.9767 15.048 13.584 15.479 13.052C15.91 12.52 16.125 11.8487 16.125 11.038C16.125 9.87267 15.758 9.01133 15.023 8.454C14.288 7.87133 13.136 7.58 11.565 7.58H8.94299V14.572H10.843Z" fill="#00738E")
                  defs
                    clipPath(id="clip0_494_1202")
                    rect(width="22" height="31" fill="white")
          span за кв.м.
        button.service-hero__button(type="button" data-id="1")
          span Заказать услугу
          svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M14 18L12.6 16.55L16.15 13H4V11H16.15L12.6 7.45L14 6L20 12L14 18Z', fill='white')