include ../mixins/service-item.pug
section.service-items.section__gapper
  .wrapper
    .service-items__wrapper
      +service-item(
        'Производство НВФ, доборных <br> элементов, подсистемы, <br> профнастила',
        'Amet minim mollit non deserunt <span>ullamco est sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
        [
          {
            text: 'проектирование'
          },
          {
            text: 'закупка металла'
          },
          {
            text: 'изготовление'
          },
          {
            text: 'покраска'
          },
          {
            text: 'доставка'
          }
        ],
        '1000',
        [
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          }
        ],
        '#'
      )
      +service-item(
        'Лазерная <br> резка металла',
        'Amet minim mollit non deserunt <span>ullamco est sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
        [
          {
            text: 'проектирование'
          },
          {
            text: 'закупка металла'
          },
          {
            text: 'изготовление'
          },
          {
            text: 'покраска'
          },
          {
            text: 'доставка'
          }
        ],
        '120',
        [
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          }
        ],
        '#'
      )
      +service-item(
        'Гибка листового <br> металлопроката',
        'Amet minim mollit non deserunt <span>ullamco est sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
        [
          {
            text: 'проектирование'
          },
          {
            text: 'закупка металла'
          },
          {
            text: 'изготовление'
          },
          {
            text: 'покраска'
          },
          {
            text: 'доставка'
          }
        ],
        '1000',
        [
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          }
        ],
        '#'
      )
      +service-item(
        'Координатная пробивка <br> отверстий в металле',
        'Amet minim mollit non deserunt <span>ullamco est sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
        [
          {
            text: 'проектирование'
          },
          {
            text: 'закупка металла'
          },
          {
            text: 'изготовление'
          },
          {
            text: 'покраска'
          },
          {
            text: 'доставка'
          }
        ],
        '500',
        [
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          }
        ],
        '#'
      )
      +service-item(
        'Порошковая <br> покраска изделий',
        'Amet minim mollit non deserunt <span>ullamco est sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
        [
          {
            text: 'проектирование'
          },
          {
            text: 'закупка металла'
          },
          {
            text: 'изготовление'
          },
          {
            text: 'покраска'
          },
          {
            text: 'доставка'
          }
        ],
        '1000',
        [
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          }
        ],
        '#'
      )
      +service-item(
        'Проектирование фасадов <br> зданий и строений <br> различного назначения',
        'Amet minim mollit non deserunt <span>ullamco est sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
        [
          {
            text: 'проектирование'
          },
          {
            text: 'закупка металла'
          },
          {
            text: 'изготовление'
          },
          {
            text: 'покраска'
          },
          {
            text: 'доставка'
          }
        ],
        '30000',
        [
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          }
        ],
        '#'
      )
      +service-item(
        'Строительно-монтажные <br> работы',
        'Amet minim mollit non deserunt <span>ullamco est sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.',
        [
          {
            text: 'проектирование'
          },
          {
            text: 'закупка металла'
          },
          {
            text: 'изготовление'
          },
          {
            text: 'покраска'
          },
          {
            text: 'доставка'
          }
        ],
        '100000',
        [
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          },
          {
            src: '/assets/images/service-item.png',
            alt: 'service-item'
          }
        ],
        '#'
      )