.success-popup
  .success-popup__title
    img(
      src="/assets/images/icons/check-circle-green.svg"
      alt="check-circle-green"
    )
    h3.success-popup__title__inner
  .success-popup__text
  button.success-popup__button(type="button") OK