section.tech-cycle.section__gapper
  .wrapper
    .tech-cycle__wrapper
      .tech-cycle__title
        h2.section__title Технологический цикл
      .tech-cycle__content
        .swiper.service-hero__slider.slider-one-centered
          .swiper-wrapper
            .swiper-slide
              img(src="/assets/images/service-hero.png" alt="service-hero")
            .swiper-slide
              img(src="/assets/images/service-hero.png" alt="service-hero")
            .swiper-slide
              img(src="/assets/images/service-hero.png" alt="service-hero")
            .swiper-slide
              img(src="/assets/images/service-hero.png" alt="service-hero")
          .swiper-pagination
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, to Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu
        p Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatu
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, to Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu
        h3 Heading 3
        p В производстве и строительстве оцинкованный лист занимает одну из ведущих позиций. Наиболее часто используемый материал. Его применение крайне выгодно, так как он сочетает в себе надежность стали, защиту цинкованием, дешевизну и практичность. При правильном использовании этот материал служит долгое время без каких-либо осложнений, не требуя особой обработки. В ряде случаев необходимо провести порошковую покраску, которая придаст ему дополнительную красоту, эстетичность и защиту от внешних воздействий. Ближайший аналог мы все видим каждый день: это кузов автомобиля (в заводской покраске). Причем, если автомобиль служит десятилетия, то изделия из окрашенной оцинкованной стали, которые «никуда не едут», будут служить вдвое и втрое дольше. Вы всегда можете заказать обработку изделий из оцинкованной стали у нас. Мы гарантируем высокое качество выполненных работ и оперативное исполнение заказов, независимо от их сложности и объема. Наши цены являются одними из самых доступных в регионе, а постоянные клиенты могут воспользоваться нашими скидками и сезонными акциями.
        h4 Heading 4
        p В производстве и строительстве оцинкованный лист занимает одну из ведущих позиций. Наиболее часто используемый материал. Его применение крайне выгодно, так как он сочетает в себе надежность стали, защиту цинкованием, дешевизну и практичность. При правильном использовании этот материал служит долгое время без каких-либо осложнений, не требуя особой обработки. В ряде случаев необходимо провести порошковую покраску, которая придаст ему дополнительную красоту, эстетичность и защиту от внешних воздействий. Ближайший аналог мы все видим каждый день: это кузов автомобиля (в заводской покраске). Причем, если автомобиль служит десятилетия, то изделия из окрашенной оцинкованной стали, которые «никуда не едут», будут служить вдвое и втрое дольше. Вы всегда можете заказать обработку изделий из оцинкованной стали у нас. Мы гарантируем высокое качество выполненных работ и оперативное исполнение заказов, независимо от их сложности и объема. Наши цены являются одними из самых доступных в регионе, а постоянные клиенты могут воспользоваться нашими скидками и сезонными акциями.
        table
          tr
            th Марка
            th Толщина листа в мм.
            th Ширина листа в мм.
            th Вес 1 погонного м. / 1 кв. м. листа в кг.
          tr
            td С8 
            td 0,5 
            td 1150 
            td 5,40/4,70
          tr
            td С8
            td 0,55
            td 1150
            td 5,90/5,13
          tr
            td С8
            td 0,70
            td 1150
            td 7,40/6,43
          tr
            td С10
            td 0,5
            td 1000
            td 4,77
          tr 
            td С10
            td 0,55
            td 1000
            td 5,21
          tr 
            td С10
            td 0,70
            td 1000
            td 6,50
          tr 
            td НС35
            td 0,5
            td 1000
            td 5,40
          tr 
            td НС35
            td 0,55
            td 1000
            td 5,90
          tr 
            td НС35
            td 0,70
            td 1000
            td 7,40
          tr 
            td НС44
            td 0,5
            td 1000
            td 5,40
          tr 
            td НС44
            td 0,55
            td 1000
            td 5,90
          tr 
            td НС44
            td 0,70
            td 1000
            td 7,40
          tr 
            td Н60
            td 0,7
            td 845
            td 7,40/8,76
          tr 
            td Н60
            td 0,8
            td 845
            td 8,40/9,94
          tr 
            td Н60
            td 0,9
            td 845
            td 9,30/11,01
          tr 
            td Н114
            td 0,8
            td 600
            td 8.40/14
          tr 
            td Н114
            td 0,9
            td 600
            td 9,30/15,50
          tr 
            td Н114
            td 1
            td 600
            td 10,30/17,17